/ext/bin
/ext/Boost
/ext/glfw3
/ext/Microsoft.GSL
/ext/SFML
/ext/TBB
/ext/Contents.txt

*.VC.db
*.ncrunchsolution
*.crunchsolution.cache
*.ncrunchsolution.user
*.VC.opendb
*.vcxproj.user
*.vs
*.sdf
*.opensdf
