/ext/boost
/ext/SFML
/ext/tbb

/ide/msvc2015/HourglassII/x64
/ide/msvc2015/HourglassII/HourglassII/x64
/ide/msvc2015/HourglassII/HourglassIIUnity/x64

*.vcxproj.user
*.vs
*.sdf
*.opensdf
/data/replay
/data/replayLogOut
/ext/MSVCToolpackv0.7z
/ext/readme.txt
/data/levels - Shortcut.lnk
