<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HourglassIIUnityBuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Profile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2014199D13775F670034C039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2086A21F17EDEBD200CF5E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20EF61C013C5BA55003DDBA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20F5C4E31345B9BA00D8808A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
